{% extends "layout.html" %}

{% block content %}
<script src="/static/scripts/customlogic.js"></script>

<div class="jumbotron">
    <h1>Subscriptions</h1>
</div>
<div class="row">
    <input type="text" class="form-control" id="mySearch" onkeyup="doSearch()" placeholder="Search for subscriptions..">
</div>
<br>
<div class="row">
    <table  id="subscriptionTable" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">State</th>
                <th scope="col">OfferId</th>
                <th scope="col">PlanId</th>
                <th scope="col">Quantity</th>
                <th scope="col">SubscriptionId</th>
                <th scope="col">Allowed Customer Actions</th>
                <th scope="col" colspan="3" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in subscriptions %}
                <tr>
                    <td scope="row">{{ item['name'] }}</td>
                    <td>{{ item['saasSubscriptionStatus'] }}</td>
                    <td>{{ item['offerId'] }}</td>
                    <td>{{ item['planId'] }}</td>
                    <td class="text-center">{{ item['quantity'] }}</td>
                    <td>{{ item['id'] }}</td>
                    <td>{{ item['allowedCustomerOperations'] }}</td>
                    <td class="text-center">
                        <a href={{ url_for('edit', subscriptionid=item['id'] ) }} class="btn btn-primary btn-sm active" role="button" aria-pressed="true">
                            Edit </a>
                    </td>
                    <td  class="text-center">
                        <a href={{ url_for('operations', subscriptionid=item['id'], subscriptionname=item['name'] ) }} class="btn btn-primary btn-sm active">
                            Operations</a>
                    </td>
                    <td  class="text-center">
                        <a href={{ url_for('usage', subscriptionid=item['id'], subscriptionname=item['name'], offerid=item['offerId'], planid=item['planId'] ) }} class="btn btn-primary btn-sm active">
                            Dim. Usage</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
