{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Send Dimension Usage</h1>
    <h3>Subscription Name: {{data.subname}}</h3>
</div>

<div class="row">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</div>

<form method="post" style="font-size: 20px;">
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Plan Id:</label>
        <input type="text" class="form-control" id="planId" name="planId" placeholder="{{ data.planId }}" disabled>
    </div>
        
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Offer Id:</label>
        <input type="text" class="form-control" id="offerId" name="offerId" placeholder="{{ data.offerId }}" disabled>
    </div>
        
        
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Quantity:</label>
        <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Quantity" min="1" max="10" required>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Select Dimension:</label>
        {% if data.filtered_dimensions_by_offer %}
        <select name="selecteddimension" class="form-control" width="300px">
            {% for dim in data.filtered_dimensions_by_offer %}
                <option value="{{ dim }}">{{ dim }}</option>
            {% endfor %}
        </select>
        {% endif %}
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Usage Start DateTime:</label>
        <table>
            <tr>
                <td><input type="number" class="form-control" style="width: 80px;" name="yy" id="yy" placeholder="YYYY" min="2019" max="2030" required></td>
                <td><input type="number" class="form-control" style="width: 60px;" name="mm" id="mm" placeholder="MM" min="1" max="12" required></td>
                <td><input type="number" class="form-control" style="width: 60px;" name="dd" id="dd" placeholder="DD" min="1" max="31" required></td>
                <td> </td>
                <td><input type="number" class="form-control" style="width: 60px;" name="hh" id="hh" placeholder="HH" min="0" max="23" required></td>
                <td> : </td>
                <td><input type="number" class="form-control" style="width: 60px;" name="min" id="min" placeholder="MM" min="0" max="59" required></td>
            </tr>
        </table>
    </div>
    <div class="form-group row">
        <button type="submit" class="btn btn-primary" name="sendusage" value="update">Send Usage</button>
    </div>  
</form>
<hr>

<h1 class="display-4">Past sent usage events</h1>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Plan Id</th>
        <th>Quantity</th>
        <th>Dimension</th>
        <th>Usage Event(UTC)</th>
        <th>EventSentAt</th>
        <th>Response</th>
        <th>Response Message</th>
    </tr>
    {% for item in data.existingUsage %}
    <tr>
      <td>  {{ item.get('planId') }} </td>
      <td>  {{ item.get('quantity') }} </td>
      <td>  {{ item.get('selected_dimension') }} </td>
      <td>  {{ item.get('utc_usage_datetime_object') }} </td>
      <td>  {{ item.get('senttime') }} </td>
      <td>  {{ item.get('response') }} </td>
      <td>  {{ item.get('response_message') }} </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}