{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Subscription Operations(Only webhook operations can be patched)</h1>
</div>
<div class="row">
    <h3 class="lead">Subscription: <b> {{subsciptionname}} ({{subscriptionid}})</b></h3>
</div>

<div class="row">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <!--
                    <th scope="col">SubscriptionId</th>
                    <th scope="col">ActivityId</th> -->
                    <th scope="col">OperationId</th>
                    <th scope="col">OfferId</th>
                    <th scope="col">PlanId</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">PublisherId</th>
                    <th scope="col">Action</th>
                    <th scope="col">TimeStamp</th>
                    <th scope="col">Status</th>
                    <th scope="col">Error Status</th>
                    <th scope="col">Error Messsage</th>
                    <th scope="col" colspan="2">Update Status</th>
                </tr>
            </thead>
            <tbody>
                {% if operations %}
                    <tr><td colspan="10"><h4>Operations by SubId</h4></td></tr>
                    {% for operation in operations %}
                        <tr>
                            <!--<td>{{ operation['subscriptionId'] }}</td>
                            <td>{{ operation['activityId'] }}</td> -->
                            <th scope="row">{{ operation['id'] }}</th> 
                            <td>{{ operation['offerId'] }}</td>
                            <td>{{ operation['planId'] }}</td>
                            <td>{{ operation['quantity'] }}</td>
                            <td>{{ operation['publisherId'] }}</td>
                            <td>{{ operation['action'] }}</td>
                            <td>{{ operation['timeStamp'] }}</td>
                            <td>{{ operation['status'] }}</td>
                            <td>{{ operation['errorStatusCode'] }}</td>
                            <td>{{ operation['errorMessage'] }}</td>
                            <td  class="text-center">
                                <a href={{ url_for('updateoperation', operationid=operation['id'], subid=operation['subscriptionId'], planid=operation['planId'], quantity=operation['quantity'], subsciptionname= subsciptionname ) }} class="btn btn-primary btn-sm active">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if webhookops %}
                    <tr><td colspan="10"><h4>WebHook Operations</h4></td></tr>
                    {% for operation in webhookops %}
                        <tr>
                            <!--<td>{{ operation['subscriptionId'] }}</td>
                            <td>{{ operation['activityId'] }}</td> -->
                            <th scope="row">{{ operation['id'] }}</th> 
                            <td>{{ operation['offerId'] }}</td>
                            <td>{{ operation['planId'] }}</td>
                            <td>{{ operation['quantity'] }}</td>
                            <td>{{ operation['publisherId'] }}</td>
                            <td>{{ operation['action'] }}</td>
                            <td>{{ operation['timeStamp'] }}</td>
                            <td>{{ operation['status'] }}</td>
                            <td>{{ operation['errorStatusCode'] }}</td>
                            <td>{{ operation['errorMessage'] }}</td>
                            <td  class="text-center">
                                <a href={{ url_for('updateoperation', operationid=operation['id'], subid=operation['subscriptionId'], planid=operation['planId'], quantity=operation['quantity'],  subsciptionname= subsciptionname ) }} class="btn btn-primary btn-sm active">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if isvops %}
                    <tr><td colspan="10"><h4>ISV Operations</h4>    </td></tr>
                    {% for operation in isvops %}
                        <tr>
                            <!--<td>{{ operation['subscriptionId'] }}</td>
                            <td>{{ operation['activityId'] }}</td> -->
                            <th scope="row">{{ operation['id'] }}</th> 
                            <td>{{ operation['offerId'] }}</td>
                            <td>{{ operation['planId'] }}</td>
                            <td>{{ operation['quantity'] }}</td>
                            <td>{{ operation['publisherId'] }}</td>
                            <td>{{ operation['action'] }}</td>
                            <td>{{ operation['timeStamp'] }}</td>
                            <td>{{ operation['status'] }}</td>
                            <td>{{ operation['errorStatusCode'] }}</td>
                            <td>{{ operation['errorMessage'] }}</td>
                            <td  class="text-center">
                                <a href={{ url_for('updateoperation', operationid=operation['id'], subid=operation['subscriptionId'], planid=operation['planId'], quantity=operation['quantity'],  subsciptionname= subsciptionname ) }} class="btn btn-primary btn-sm active">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
